h1,h2,h3,h4{
	color: theme-color("primary");
	font-family: "script";
	font-style: italic;
}
h5,h6{
	color: theme-color("secondary");
	font-weight: bold;
	text-transform: uppercase;
}

.btn-secondary{
	color: $white;
}

.bg-tint{
	background-color: #f5f5f3 !important;
}
