.jumbotron{
	background-size: cover;
	background-position: center;
	border-radius: 0 !important;
}

.nav{
	font-weight: 400;
	font-family: 'Work Sans', sans-serif;

	.nav-link{
		text-transform: uppercase !important;
		font-size: .8rem;
		padding-left: 1.05rem !important;
		padding-right: 1.05rem !important;
	}

	.nav-item{
		&.dropdown{
			&.show{
				background-color: theme-color("secondary");

				.nav-link{
					color: $white;
				}
			}
		}
	}
	.dropdown-menu{
		background-color: theme-color("secondary");
		border: none;
		border-radius: 0;
		min-width: 100%;
		margin-top: 0;
		text-align: left;
		padding-top: 0;
		padding-left: 5px;
		padding-right: 5px;

		.dropdown-item{
			color: $white;
			font-size: .8rem;
			text-transform: uppercase !important;
			padding: 0 .2rem;
		}
	}
}

.topbar{
	border-bottom: 1px solid $gray-200;
	padding: .2rem 0;

	small{
		font-size: .72rem;
	}

	.input-group-btn{
		.btn{
			border-radius: 4rem 0 0 4rem;
			border: $input-btn-border-width solid $input-border-color;
			border-right: 0 solid transparent;
			color: #858e95;
			background-color: transparent;
			margin-right: .0001rem;
		}
	}
	.form-control{
		border-radius: 0 4rem 4rem 0;
		border-left: 0 solid transparent;
		font-weight: 200;

		&:focus{
			border-color: $input-border-color;
		}
	}
	.fa{
		font-size: 1rem;
	}
}

@include media-breakpoint-down(md){
	.topbar{
		display: none;
	}
}
