.visual{
	height: 360px;
	background-size: cover;
	background-position: center;
}
.home{

	.kaart{
		margin-top: -80px;
		background-color: #2c8cc9;
	}
}

.secondary,
.location-footer{
	background-color: #f5f5f3;
}
